@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

:root {
    --dark-background-color1: #1f2937;    

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(21, 43, 116);
}

header, footer, #intro {
    background-color: var(--dark-background-color1);
    color: #e5e7eb;

}

header {
    padding-right: 10px;
    display: flex;
    flex-direction: row; /*DEFAULT PROPERTY, ONLY ADDED AS A REMINDER*/
    flex-wrap: nowrap; /*DEFAULT PROPERTY, ONLY ADDED AS A REMINDER*/
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}

header nav {
    padding-right: 20px;
}

header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

nav>ul {
    display: flex;
}

nav li {
    padding-right: 20px;
}


header img {
    width: 150px;
    height: auto;
    /* object-fit: cover; PROPERTY TO FILL A CONTAINER WITHOUT LOOSING IMG ASPECT RADIO */
}



a {
    color: aliceblue;
}

main section {
    display: flex;
}


main a {
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}

section {
    height: 100vh;
}


#intro {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

#intro div {
    text-align: center;
}

#intro figure img {
    width: 1200px;
    height: auto;
}

#mass_effect_01 {
    height: auto;
}

#mass_effect_02 {
    height: auto;
}

#mass_effect_03 {
    height: auto;
}

.data {
    color: aqua;
    color: aliceblue;
}

.characters ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.characters ul li {

    padding: 10px;
}

.characters ul li img {
    width: 300px;
    height: 405px;
}

h1 {
    font-size: 48px;
}

footer {
    height: 100px;
}

li {
    list-style: none;
}